body {
	background-color:#FFFFFF;
	color: #000;
	font-family: Helvetica, sans-serif;
	text-align: center;

}

h1  {
	color:#000
	font-weight: bolder;
	text-decoration: underline;
	text-align: center;

}

h2  {
	font-style: italic
	text-align: center;
}


ul {
	font-family: Helvetica, sans-serif;
	text-align: center;
	display: inline; 
	margin: 0 auto;
	padding: 0;
}
